#update
server:
  port: 8080

spring:
  application:
    name: spring-boot-redis
  redis:
    host: 127.0.0.1
    port: 6379
    pool:
      max-idle: 100
      min-idle: 1
      max-active: 1000
      max-wait: -1



