<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
    <form id="loginFrom" action="/demo/login" method="post">
        <div>
            <span><label>用户:</label></span>
            <span><input type="text" name="username" id="username"></span><br>
            <span><label>密码:</label></span>
            <span><input type="password" name="password" id="password"></span><br>
            <button type="submit">登录</button>
        </div>
    </form>
</body>
</html>